.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .8);
	z-index: 4000;
	opacity: 0;
	visibility: hidden;
	transition: all .2s;


	&__content {
		@include absCenter;
		width: 60%;
		height: 50rem;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 3px;
		overflow: hidden;
		display: table;
		transform: translate(-50%, -50%) scale(.2);
		transition: all .3s;

	}

	&:target {
		opacity: 1;
		visibility: visible;

	}

	&:target &__content {
		transform: translate(-50%, -50%) scale(1);

	}

	&__left {
		width: 33.3333333%;
		display: table-cell;

	}

	&__right {
		width: 66.666666%;
		display: table-cell;
		vertical-align: top;
		padding: 5rem;

	}

	&__img {
		width: 100%;
		height: 50%;
		display: block;


	}

	&__header {

	}

	&__text {
		column-count: 2;
		column-gap: 3rem;
		column-rule: 1px solid $color-grey-light-1;
		hyphens: auto;

	}


	&__close {
		&:link,
		&:visited {
			text-decoration: none;
			position: absolute;
			top: 3rem;
			right: 3rem;
			line-height: 0;
			color: $color-grey-light-2;
			font-size: 3rem;
			transition: all .2s;
		}

		&:hover {
			color: $color-primary;
		}


	}


}