.story {
	width: 75%;
	margin: 0 auto;
	margin-bottom: 10rem;
	box-shadow: 0 3rem 6rem rgba($color-black, .1);
	background-color: rgba($color-white, 0.5);
	border-radius: 3px;
	padding: 6rem;
	padding-left: 9rem;
	font-size: $default-font-size;
	transform: skewX(-12deg);

	@include respond(tab-port) {
		width: 100%;
		
		padding: 4rem;
		padding-left: 7rem;
	}

	@include respond(phone) {
		transform: skewX(0);
	}


	&__shape {
		width: 15rem;
		height: 15rem;
		float: left;
		-webkit-shape-outside: circle(50% at 50% 50%);
		shape-outside: circle(50% at 50% 50%);

		-webkit-clip-path: circle(50% at 50% 50%);
		clip-path: circle(50% at 50% 50%);
		transform: translateX(-3rem) skewX(12deg);
		position: relative;
		@include respond(phone) {
			transform: translateX(-3rem) skewX(0);
		}
	}

	&__image {
		height: 100%;
		transform: scale(1.4);
		transition: all .5s;
		backface-visibility: hidden;

	}

	&__text {
		transform: skewX(12deg);
		@include respond(phone) {
			transform: skewX(0);
		}
	}

	&__caption {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 20%);
		font-size: 1.7rem;
		text-align: center;
		color: $color-white;
		text-transform: uppercase;
		opacity: 0;
		transition: all .5s;
		backface-visibility: hidden;
	}

	&:hover &__caption {
		opacity: 1;
		transform: translate(-50%, -50%);
	}

	&:hover &__image {
		transform: scale(1);
		filter: blur(3px) brightness(80%);
	}
}