@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}

//MEDIA QUERY MANAGER

/*
0 - 600px: Phone
600 - 900px: Tablet Portrait
900 - 1200 Tablet landscape
1200-1800: normal styles apply
1800px+ Big Desktop


*/

// $Breakpoint Arguments
// -phone
// -tab-port
// tab-land
// big-desktop

// 1em = 16px

// ORDER: Base + typography > general layout + grid > page layout > components;

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) { @content };
	}	
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) { @content };
	}	
	@if $breakpoint == tab-land {
		@media (max-width: 75em) { @content };
	}	
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) { @content };
	}
}