.footer {
	background-color: $color-grey-dark-3;
	padding: 10rem 0;
	font-size: 1.4rem;
	color: $color-grey-light-1;

	@include respond(tab-port) {
		padding: 8rem 0;
	}

	&__logo-box {
		text-align: center;
		margin-bottom: 8rem;
		@include respond(tab-port){
			margin-bottom: 8rem;
		}

	}

	&__logo {
		width: 15rem;
		height: 15rem;
	}

	&__navigation {
		border-top: 1px solid $color-grey-light-2;
		padding-top: 2rem;
		display:inline-block;
		@include respond(tab-port) {
			width: 100%;
			text-align: center;
		}
	}

	&__list {

	}

	&__item {
		display: inline-block;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
	}

	&__link {
		&:link,
		&:visited {
			color: $color-grey-light-1;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
			transition: all .2s;
		}

		&:hover,
		&:active {
			color: $color-primary;
			background-color: $color-grey-dark-3;

			box-shadow: 0 1rem 2rem rgba($color-black, .4);
			transform: scale(1.2) rotate(5deg);
		}

	}

	&__copyright {
		border-top: 1px solid $color-grey-light-2;
		padding-top: 2rem;
		width: 80%;
		float: right;
		@include respond(tab-port) {
			width: 100%;
			float: none;
		}
	}


}